{% extends "base.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<h1>¡Qué pasa!</h1>
	<p>¿No te ha quedado claro? Raspecito es mi domotool particular, espero que te guste...</p>
	
	<p><a href="/" class="btn btn-primary btn-lg" role="button">Volver...</a></p>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mapa</h3>
	</div>
	<div class="panel-body" align="center">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d792.5328255281655!2d-5.984120599999978!3d37.386727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126c1de4bd4c0f%3A0xa3d05dfa1a78b766!2sCalle+Atanasio+Barr%C3%B3n%2C+17%2C+41003+Sevilla!5e0!3m2!1ses!2ses!4v1416765343437"  
		width="300" height="300" frameborder="0" style="border:0">
		</iframe>
	</div>
</div>
{% endblock %}
