{% extends "base.html" %}
{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<p><a href="/" class="btn btn-primary" role="button">Volver</a></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Mapa</h3>
	</div>
	<div class="panel-body">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.6033113649805!2d-4.715077300000004!3d41.64270519999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4712c7a6b3f3c3%3A0x8e1a031f664365f7!2sCalle+Almer%C3%ADa%2C+1%2C+47012+Valladolid%2C+Espa%C3%B1a!5e0!3m2!1ses!2ses!4v1428797866300"
		width="300" height="300" frameborder="0" style="border:0">
		</iframe>
	</div>
</div>

{% endblock %}
